<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon src="../../assets/icon/maps-and-flags.svg"></ion-icon>
      Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon src="../../assets/icon/maps-and-flags.svg"></ion-icon>
      <ion-title size="large">Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon src="../../assets/icon/new.svg" slot="start" color="secondary"></ion-icon>
      <ion-label>Novedad</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label *ngIf="date">
            Solo el {{ date.substring(0, date.length - 9) }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon src="../../assets/icon/virus-solid.svg" slot="start" color="success"></ion-icon>
          <ion-label>Nuevos {{ newconfirmed }} Confirmados</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit-outline" slot="start" color="secondary"></ion-icon>
          <ion-label>Nuevos {{ newrecovered }} Recuperados</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="skull-outline" color="danger" slot="start"></ion-icon>
          <ion-label>Nuevos {{ newdeaths }} Muertos</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-icon name="today-outline" slot="start" color="warning"></ion-icon>
      <ion-label>Recuento Total</ion-label>
    </ion-item>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label *ngIf="date">
            Hasta el {{ date.substring(0, date.length - 9) }}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon src="../../assets/icon/virus-solid.svg" slot="start" color="success"></ion-icon>
          <ion-label>{{ confirmed }} Confirmados</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="medkit-outline" slot="start" color="secondary"></ion-icon>
          <ion-label>{{ recovered }} Recuperados</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="skull-outline" color="danger" slot="start"></ion-icon>
          <ion-label>{{ deaths }} Muertos</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon src="../../assets/icon/maps-and-flags.svg" slot="start"></ion-icon>
      <ion-label>Paises</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Norte America
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('canada')">
            <ion-avatar>
              <img src="../../assets/icon/national-flag-memorial.svg">
            </ion-avatar>
            <ion-label>Canada</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('united states')">
            <ion-avatar>
              <img src="../../assets/icon/flag-us.svg">
            </ion-avatar>
            <ion-label>Estados Unidos de America</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('mexico')">
            <ion-avatar>
              <img src="../../assets/icon/flags-mexico.svg">
            </ion-avatar>
            <ion-label>Mexico</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>
            Centro America
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('guatemala')">
            <ion-avatar>
              <img src="../../assets/icon/flags-gt.svg">
            </ion-avatar>
            <ion-label>Guatemala</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('belize')">
            <ion-avatar>
              <img src="../../assets/icon/world-belize.svg">
            </ion-avatar>
            <ion-label>Belice</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('honduras')">
            <ion-avatar>
              <img src="../../assets/icon/flags-honduras.svg">
            </ion-avatar>
            <ion-label>Honduras</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('nicaragua')">
            <ion-avatar>
              <img src="../../assets/icon/flags-nicaragua.svg">
            </ion-avatar>
            <ion-label>Nicaragua</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>
            Sur America
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('brazil')">
            <ion-avatar>
              <img src="../../assets/icon/brazil.svg">
            </ion-avatar>
            <ion-label>Brasil</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('argentina')">
            <ion-avatar>
              <img src="../../assets/icon/argentina.svg">
            </ion-avatar>
            <ion-label>Argentina</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>
            Europa
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('china')">
            <ion-avatar>
              <img src="../../assets/icon/china.svg">
            </ion-avatar>
            <ion-label>China</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('italy')">
            <ion-avatar>
              <img src="../../assets/icon/italy.svg">
            </ion-avatar>
            <ion-label>Italia</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('russia')">
            <ion-avatar>
              <img src="../../assets/icon/russia.svg">
            </ion-avatar>
            <ion-label>Rusia</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('united kingdom')">
            <ion-avatar>
              <img src="../../assets/icon/england.svg">
            </ion-avatar>
            <ion-label>Reino Unido</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip (click)="presentModal('spain')">
            <ion-avatar>
              <img src="../../assets/icon/spain.svg">
            </ion-avatar>
            <ion-label>España</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>