<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon src="../../assets/icon/Wolrd-Flat.svg"></ion-icon>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon src="../../assets/icon/Wolrd-Flat.svg"></ion-icon>
      <ion-title size="large">Holamundo 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page">
    <p>kldasfkhjshfklhashdf</p>
  </app-explore-container>
</ion-content>